@import "../valo/valo.scss";

@mixin mytheme {
  $v-font-family: 'Roboto', Arial, Helvetica, sans-serif;
  @include valo;

  font-family: $v-font-family;

  .login {
    background-color: #1976D3;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .logo {
      margin: 10px;
    }

    .title {
      margin-top: 14px;
      margin-right: 10px;
      color: #005B9C;
      font-weight: 700;
    }

    .loginWindow {
      background-color: white;
      padding: 10px;
    }

    .v-textfield {
      background-color: inherit;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: unset;
      box-shadow: none;
      -webkit-box-shadow: none;
      font-size: 14px;
    }
  }
}
